@import "tailwindcss";

@theme {
  --color-primary: #D4A373;
  --color-secondary: #FAEDCD;
  --color-accent: #CCD5AE;
  --color-dark: #333333;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-dark);
  font-family: sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(5deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-slow-zoom {
  animation: slow-zoom 20s ease-in-out infinite;
}